.App{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 2%;
   margin-top: 2%;
    
  }
header {
    text-align: center;
  }
body{
    background-color:rgb(12,52,85);
    background-image: url("../public/logo.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
.texto{
  text-align: center;
}
.Cadastro{

  float: right;
  background-color: rgb(147,149,152, 0.6);
  border-radius: 10px;
  margin-bottom: 3%;
  color: rgb(255, 255, 255);
  padding: 20px;
  width: 700px;
    
}
.nomeEnascimento{
    display: flex;
    justify-content: space-between;
}

.pets{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.fumanteEdisponivel{
  display: flex;
  justify-content: left;
}

.fumante{
  padding-left: 20%;
}
.senha{
  padding-right: 2%;
}
.cep{
  padding-right: 2%;
}

.disponivel{
  padding-left: 15%;
}

.telefoneEgenero{
  display: flex;
  justify-content: space-between;
}

.senhaEcep{
  display: flex;
  justify-content: space-between;
}
.preferencias{
  background-color: rgb(147,149,152, 0.6);
  border-radius: 10px;
  padding: 20px;
}

.botao{
  padding-top: 5%;
}
  
.Login{
  
    float: right;
    background-color: rgb(147,149,152, 0.6);
    border-radius: 10px;
    margin: 100px 300px;
    
    width: 400px;
    min-width: 300px;
      
    color: rgb(255, 255, 255);
    padding: 20px;
    
}

