.App{
   display: flex;
   align-items: flex-start;
   justify-content: center;
   margin: 2%;
   margin-top: 2%;
    
  }
header {
    text-align: center;
  }
body{
    background-color:rgb(12,52,85);
    background-image: url("../public/logo.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5%;
  }
.texto{
  text-align: center;
}
.Cadastro{

  float: right;
  background-color: rgb(147,149,152, 0.6);
  border-radius: 10px;
  margin-bottom: 3%;
  color: rgb(255, 255, 255);
  padding: 20px;
    
}
.campo1{
    display: flex;
    justify-content: space-between;
}
  
.Login{
  
    float: right;
    background-color: rgb(147,149,152, 0.6);
    border-radius: 10px;
    margin: 200px 300px;
    
    width: 400px;
    min-width: 300px;
      
    color: rgb(255, 255, 255);
    padding: 20px;
    
}
.Dashboard{

  float: right;
  background-color: rgb(147,149,152, 0.6);
  border-radius: 10px;
  margin-bottom: 3%;
  color: rgb(255, 255, 255);
  padding: 20px;
    
}

.ListarUsuarios {
  float: right;
  background-color: rgb(147,149,152, 0.6);
  border-radius: 10px;
  margin-bottom: 3%;
  color: rgb(255, 255, 255);
  padding: 20px;
}
